﻿@{
    ViewBag.Title = "Tạo phiếu xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">Tạo phiếu xuất sách</div>
    <div class="panel-body">
        <div class="row">

            <div class="form-group col-lg-3">
                <label for="Maphieuxuat">Mã phiếu xuất</label>
                <input type="text" disabled class="form-control" value="@ViewBag.Maphieuxuat" id="Maphieuxuat" name="Maphieuxuat" />
            </div>
            <div class="form-group col-lg-3">
                <label for="tendl">Tên đại lý:</label>
                @Html.DropDownList("ddl2", ViewBag.LayDSDL as SelectList, null, new { @class = "form-control", @id = "tendl", @name = "tendl" })

            </div>

            <div class="col-lg-3" style="height: 130px;">
                <label for="ngayxuat">Ngày xuất:</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker8'>
                        <input type='text' id="ngayxuat" class="form-control" placeholder="dd/mm/yyyy" name="ngayxuat" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="nguoinhan">Người nhận:</label>
                <input type="text" class="form-control" id="nguoinhan" placeholder="Nhập tên" name="nguoinhan" />
            </div>
        </div>
        <a href="#addBook" data-toggle="modal" class="AddDetailIm btn btn-success">Thêm sách</a>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div id="tableDetails">
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <h4 class="col-lg-4">Tổng nợ hiện tại: <span id="tongno"></span></h4>
                <p class="hidden" id="toida"></p>
                <h4 class="col-lg-offset-10">Tổng tiền: <span id="tongXuat"></span></h4>
            </div>

        </div>
        <input type="button" id="submitXuat" value="Lưu" class="btn btn-primary pull-right" />

    </div>
</div>

<div class="modal fade" id="addBook" role="dialog">
    <div class="modal-dialog" id="modal_addBookIm">
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var madl = $("#tendl").val();
            loadTien(madl);
            //Them chi tiet nhap sach
            //Modal thêm chi tiết nhập
            $(document).on('keyup', '#soluongxuat', function () {
                $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                if ($('#giaxuat').val() != '') {
                    var tt = parseInt($(this).val()) * parseInt($('#giaxuat').val())
                    $('#ttxuat').val(tt);
                } else {
                    $('#ttxuat').val('0');
                }
            });
         
            //Load giao diện thêm sách
            function loadGiaXuat(masach) {
                $.ajax({
                    url: '/xuat-sach/giaxuat/' + masach + '',
                    type: "POST",
                    data: { "id": masach },
                    dataType: "json",
                    success: function (data) {
                        $("#giaxuat").val(data);
                    },
                    error: function (xhr) {

                    }
                });
            }
            $(document).on("change", "#tensach", function () {
                var dl = $(this).val();
                loadGiaXuat(dl);
                $("#soluongxuat").val('');
            });
            $(document).on("click", ".AddDetailIm", function () {
                $("#modal_addBookIm").load("/xuat-sach/CreateDetail/");
            });

            $('#datetimepicker8').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD/MM/YYYY'
            });
            var orderItems = [];

            //Thêm sách vào bảng chi tiết
            $(document).on('click', '#btnAddBookIm', function () {
                if (($("#giaxuat").val().trim() == '')) {
                    $(".err_gia").removeClass('hide');
                }
                else if ($("#soluongxuat").val().trim() == '') {
                    $(".err_sln").removeClass('hide');
                } else if ($("#ttxuat").val() == '0') { $(".err_tt").removeClass('hide'); } else {
                    orderItems.push({
                        mapxuat: parseInt($("#Maphieuxuat").val().trim()),
                        masach: parseInt($("#tensach").val()),
                        tensach: $("#tensach option:selected").text().trim(),
                        soluong: parseInt($("#soluongxuat").val().trim()),
                        gia: parseInt($("#giaxuat").val().trim()),
                        thanhtien: parseInt($("#soluongxuat").val().trim()) * parseInt($("#giaxuat").val().trim()),
                        ghichu: $("#ghichuxuat").val().trim(),
                    });
                    AddedItemsTable();
                    $(".err_gia").addClass('hide');
                    $(".err_sln").addClass('hide');
                    $(".err_tt").addClass('hide')
                    $("#soluongxuat").val('');
                }

            });
            //Lưu phiếu nhập
            $(document).on('click', "#submitXuat", function () {
                if (parseInt($("#tongno").text()) + parseInt($("#tongXuat").text()) > parseInt($("#toida").text())) {
                    alert("Tổng tiền đã vượt quá giới hạn nợ");
                } else {
                    var data = {
                        maphieu: parseInt($("#Maphieuxuat").val().trim()),
                        madl: parseInt($("#tendl").val().trim()),
                        ngaylap: $("#ngayxuat").val().trim(),
                        nguoigiao: $("#nguoinhan").val().trim(),
                        tongtien: parseInt($("#tongXuat").text()),
                        Chitiet: orderItems
                    }
                    console.log(data);
                    $(this).val('Đang lưu...');
                    $.ajax({
                        url: '/xuat-sach/Create',
                        type: "post",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {

                            window.location = "/xuat-sach/Create";
                        },
                        error: function () {
                            alert('Không thể lưu. Thử lại lần nữa');
                        }

                    });
                }


            });
            //Hiển thị lên bảng chi tiết
            function AddedItemsTable() {
                var table = $('<table class="table table-bordered"/>');
                table.append('<thead class="thead-default"><tr><th>Mã sách</th><th>Tên sách</th> <th>Số lượng</th><th>Đơn giá</th><th>Thành tiền</th><th>Ghi chú</th></tr></thead>');

                if (orderItems.length > 0) {
                    var body = $('<tbody/>');
                    var total = 0;
                    $.each(orderItems, function (i, val) {
                        var row = $('<tr class="' + i + '" />');
                        row.append($('<td/>').html(val.masach));
                        row.append($('<td/>').html(val.tensach));
                        row.append($('<td/>').html(val.soluong));
                        row.append($('<td/>').html(val.giaxuat));
                        row.append($('<td/>').html(val.thanhtien));
                        row.append($('<td/>').html(val.ghichu));
                        row.append($('<td/>').html('<button class="btn btn-xs btn-danger delete_item" data-id="' + i + '">x</button>'));
                        total += val.thanhtien;
                        console.log(val.thanhtien);
                        $('#tongXuat').text(total);
                        body.append(row);
                    });
                    table.append(body);

                } else {
                    $('#tongXuat').text('');
                }
                $('#tableDetails').html(table)
            }

            $(document).on('click', ".delete_item", function () {
                var id = $(this).attr("data-id");
                orderItems.splice(id - 1, 1);
                AddedItemsTable();
            });
            function loadTien(dl) {
                $.ajax({
                    url: '/xuat-sach/tongno/' + dl + '',
                    type: "POST",
                    data: { "id": dl },
                    dataType: "json",

                    success: function (data) {
                        //var obj = JSON.parse(data);
                        //$.each(obj.items, function (i, item) {
                        // console.log(data);

                        $("#tongno").text(data.tongno);
                        $("#toida").text(data.notoida);
                        // });
                    },
                    error: function (xhr) {
                        alert('Lỗi không truyền được tổng nợ');
                    }
                });

            };
            $(document).on("change", "#tendl", function () {
                var dl = $(this).val();
                loadTien(dl);
               
            });
        });
    </script>
}

