﻿@model Websach.Models.CT_PX

@{
    ViewBag.Title = "Chi tiết ";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm sách</h4>
    </div>
    <div class="modal-body">
        <fieldset>
           
                <div class="form-group ">
                <label for="tensach">Tên sách:</label>
                @Html.DropDownList("dsSach", ViewBag.LayDSsach as SelectList, null, new { @class = "form-control",@id="tensach", @name = "tensach" })

            </div>
          
            <div class="form-group ">
                <label for="soluongxuat">Số lượng</label>
                <input type="number" id="soluongxuat" name="soluongxuat" class="form-control"/>
                <label class="my-error-class hide err_sln" >Nhập số lượng</label>
            </div>
              <div class="form-group ">
                <label for="giaxuat">Giá xuất</label>
                <input type="text" disabled id="giaxuat" name="giaxuat" value="@ViewBag.GiaSachDauTien " class="form-control"/>
                <label class="my-error-class hide err_gia">Nhập giá</label>
            </div>
              <div class="form-group ">
                <label for="ttxuat">Thành tiền</label>
                <input type="text" disabled id="ttxuat" name="ttxuat" class="form-control"/>
                  <label class="my-error-class hide err_tt">Thành tiền không thể bằng 0</label>
            </div>
             <div class="form-group ">
                <label for="ghichuxuat">Ghi chú</label>
                <textarea class="form-control" id="ghichuxuat" name="ghichuxuat"></textarea>
            </div>
            
            <p>
                <input type="button" class="btn btn-primary pull-right "  id="btnAddBookIm" value="Thêm" />
            </p>
           
            
        </fieldset>
    </div>
</div>


@section Scripts {
    
}
