﻿@model Websach.Models.PhieuXuat

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ds = (List<Websach.Models.CT_PX>)ViewBag.DS_CTX;
}
<div class="panel panel-primary">

    <div class="panel-heading">
        Thông tin chi tiết phiếu xuất
    </div>
    <div class="panel-body">
        <div class="form-group col-lg-3">
            <label for="maphieu">Mã phiếu xuất: </label>
            <span id="maphieu">@Html.DisplayFor(model => model.maphieu)</span>
        </div>
        <div class="form-group col-lg-3">
            <label for="maphieu">Tên đại lý:</label>
            @Html.DisplayFor(model => model.Daily.tendl)
        </div>
        <div class="form-group col-lg-3">
            <label for="maphieu">Ngày xuất:</label>
            @Html.DisplayFor(model => model.ngaylap)
        </div>

        <div class="form-group col-lg-3">
            <label for="maphieu">Người giao:</label>
            @Html.DisplayFor(model => model.nguoigiao)
        </div>
        <table class="table table-striped table-bordered table-hover" id="dataTables-ctx">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ds == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Không có chi tiết
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in ds)
                    {
                                    
                    <tr>
                        <td>
                            @item.masach
                        </td>
                        <td>
                            @item.Sach.tensach
                        </td>
                        <td>
                            @item.soluong
                        </td>

                        <td class="money">
                            @item.gia
                        </td>
                        <td class="money">
                            @(item.thanhtien)
                        </td>
                         <td class="">
                            @(item.ghichu)
                        </td>
                        <td class="">
                            <a href="#editModal" class="btnEdit btn btn-warning btn-xs" data-toggle="modal" data-id="@item.masach">Sửa</a>
                        </td>
                    </tr>
                   
                    }


                }
            </tbody>
        </table>

        <div class="form-group col-lg-12">
            <h4>Tổng tiền: <span class="money text-danger">@Html.DisplayFor(model => model.tongtien)</span></h4>

        </div>

        @Html.ActionLink("Sửa", "Edit", new { id = Model.maphieu }, new { @class = "btn btn-warning pull-right" })
    </div>
</div>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" id="modal-content">
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".btnEdit", function () {

                $("#modal-content").load("/Xuatsach/EditDetail/" + $("#maphieu").text() + "/" + $(this).data("id"));
            });
            $('#dataTables-ctx').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
                }
            });

            $(document).on('keyup', '#soluong_edit', function () {

                $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                if ($('#gianhap_edit').val() != '') {
                    var tt = parseInt($(this).val()) * parseInt($('#gianhap_edit').val())
                    $('#tt_edit').val(tt);
                } else {
                    $('#tt_edit').val('0');
                }
            });
        });
    </script>
}

