﻿@model IEnumerable<Websach.Models.PhieuXuat>

@{
    ViewBag.Title = "Quản lý xuất sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý xuất sách</h2>

<div class="btn btn-success pull-right">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "text-color" })
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách phiếu xuất

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã phiếu</th>
                                <th>Tên đại lý</th>
                                <th>Ngày lập</th>
                                <th>Người nhận</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null)
                            {
                                <tr>
                                    <td colspan="8" style="text-align:center;">
                                        Không có phiếu xuất nào
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.maphieu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Daily.tendl)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ngaylap)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nguoigiao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tongtien)
                                        </td>

                                        <td>
                                           
                                            @Html.ActionLink("Chi tiết", "Detail", new { id = item.maphieu }, new { @class="btn btn-xs btn-primary"}) 
                                            
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section Scripts{
    <script>
        
    </script>
}