﻿@model Websach.Models.CT_PN

@{
    ViewBag.Title = "CreateDetail";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm sách</h4>
    </div>
    <div class="modal-body">
        <fieldset>
           
                <div class="form-group ">
                <label for="tensach">Tên sách:</label>
                @Html.DropDownList("dsSach", ViewBag.LayDSsach as SelectList, null, new { @class = "form-control",@id="tensach", @name = "tensach" })

            </div>
            
            <div class="form-group ">
                <label for="soluongnhap">Số lượng</label>
                <input type="number" id="soluongnhap" name="soluongnhap" class="form-control"/>
                <label class="my-error-class hide err_sln" >Nhập số lượng</label>
            </div>
            <div class="form-group ">
                <label for="gianhap">Giá nhập</label>
                <input type="text" id="gianhap" name="gianhap" value=" @ViewBag.GiaSachDauTien " disabled class="form-control"/>
                <label class="my-error-class  hide err_gia" >Nhập giá</label>
            </div>
              <div class="form-group ">
                <label for="ttnhap">Thành tiền</label>
                <input type="text" disabled id="ttnhap" name="ttnhap" class="form-control"/>
            </div>
             <div class="form-group ">
                <label for="ghichunhap">Ghi chú</label>
                <textarea class="form-control" id="ghichunhap" name="ghichunhap"></textarea>
            </div>
            
            <p>
                <input type="button" class="btn btn-primary pull-right "  id="btnAddBookIm" value="Thêm" />
            </p>
           
            
        </fieldset>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
          
        });
    </script>
}