﻿@{
    ViewBag.Title = "Tạo phiếu nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Tạo phiếu nhập sách</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-lg-3">
                <label for="maphieu">Mã phiếu nhập</label>
                <input type="text" disabled class="form-control" value="@ViewBag.Maphieunhap" id="maphieu" name="maphieu" />
            </div>
            <div class="form-group col-lg-3">
                <label for="tennxb">Tên nhà xuất bản:</label>
                @Html.DropDownList("ddl2", ViewBag.LayDSNXB as SelectList, null, new { @class = "form-control", @id = "tennxb", @name = "tennxb" })

            </div>

            <div class="col-lg-3" style="height: 130px;">
                <label for="ngaynhap">Ngày nhập:</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker8'>
                        <input type='text' id="ngaynhap" class="form-control" placeholder="dd/mm/yyyy" name="ngaynhap" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label for="nguoinhan">Người nhận:</label>
                <input type="text" class="form-control" id="nguoinhan" placeholder="Nhập tên" name="nguoinhan" />
            </div>
        </div>
        <a href="#addBook" data-toggle="modal" class="AddDetailIm btn btn-success">Thêm sách</a>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div id="tableDetails">
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>

                    </table>
                </div>

                <h4 class="col-lg-offset-10">Tổng tiền: <span id="tongNhap"></span></h4>
            </div>

        </div>
        <input type="button" id="submitNhap" value="Lưu" class="btn btn-primary pull-right" />

    </div>
</div>

<div class="modal fade" id="addBook" role="dialog">
    <div class="modal-dialog" id="modal_addBookIm">
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //Them chi tiet nhap sach
            //Modal thêm chi tiết nhập
            $(document).on('keyup', '#soluongnhap', function () {
                $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                if ($('#gianhap').val() != '') {
                    var tt = parseInt($(this).val()) * parseInt($('#gianhap').val())
                    $('#ttnhap').val(tt);
                } else {
                    $('#ttnhap').val('0');
                }
            });
           
            //Load giao diện thêm sách
            
            function loadGiaNhap(masach) {
                $.ajax({
                    url: '/nhap-sach/gianhap/' + masach + '',
                    type: "POST",
                    data: { "id": masach },
                    dataType: "json",
                    success: function (data) {
                        $("#gianhap").val(data);
                    },
                    error: function (xhr) {
                       
                    }
                });
            }
            $(document).on("click", ".AddDetailIm", function () {
                $("#modal_addBookIm").load("/nhap-sach/CreateDetail/" + $("#tennxb").val(), function () {
                });
               
            });
            $(document).on("change", "#tensach", function () {
                var dl = $(this).val();
                loadGiaNhap(dl);
                $("#soluongnhap").val('');
            });
            $('#datetimepicker8').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD/MM/YYYY'
            });
            var orderItems = [];

            //Thêm sách vào bảng chi tiết
            $(document).on('click', '#btnAddBookIm', function () {
                if (($("#gianhap").val().trim() == '')) {
                    $(".err_gia").removeClass('hide');
                }
                else if ($("#soluongnhap").val().trim() == '') {
                    $(".err_sln").removeClass('hide');
                } else {
                    orderItems.push({
                        mapnhap: parseInt($("#maphieu").val().trim()),
                        masach: parseInt($("#tensach").val()),
                        tensach: $("#tensach option:selected").text().trim(),
                        soluong: parseInt($("#soluongnhap").val().trim()),
                        gianhap: parseInt($("#gianhap").val().trim()),
                        thanhtien: parseInt($("#soluongnhap").val().trim()) * parseInt($("#gianhap").val().trim()),
                        ghichu: $("#ghichunhap").val().trim(),
                    });
                    AddedItemsTable();
                    $(".err_gia").addClass('hide');
                    $(".err_sln").addClass('hide');
                    $("#soluongnhap").val('');
                }

            });
            //Lưu phiếu nhập
            $(document).on('click', "#submitNhap", function () {
                var data = {
                    maphieu: parseInt($("#maphieu").val().trim()),
                    manxb: parseInt($("#tennxb").val().trim()),
                    ngaylap: $("#ngaynhap").val().trim(),
                    nguoigiao: $("#nguoinhan").val().trim(),
                    tongtien: parseInt($("#tongNhap").text()),
                    Chitiet: orderItems
                }
                console.log(data);
                $(this).val('Đang lưu...');
                $.ajax({
                    url: '/nhap-sach/Create',
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {

                        window.location = "/nhap-sach/Create";
                    },
                    error: function () {
                        alert('Không thể lưu. Thử lại lần nữa');
                    }

                });

            });
            //Hiển thị lên bảng chi tiết
            function AddedItemsTable() {
                var table = $('<table class="table table-bordered"/>');
                table.append('<thead class="thead-default"><tr><th>Mã sách</th><th>Tên sách</th> <th>Số lượng</th><th>Đơn giá</th><th>Thành tiền</th><th>Ghi chú</th></tr></thead>');

                if (orderItems.length > 0) {
                    var body = $('<tbody/>');
                    var total = 0;
                    $.each(orderItems, function (i, val) {
                        var row = $('<tr class="' + i + '" />');
                        row.append($('<td/>').html(val.masach));
                        row.append($('<td/>').html(val.tensach));
                        row.append($('<td/>').html(val.soluong));
                        row.append($('<td/>').html(val.gianhap));
                        row.append($('<td/>').html(val.thanhtien));
                        row.append($('<td/>').html(val.ghichu));
                        row.append($('<td/>').html('<button class="btn btn-xs btn-danger delete_item" data-id="' + i + '">x</button>'));
                        total += val.thanhtien;
                        console.log(val.thanhtien);
                        $('#tongNhap').text(total);
                        body.append(row);
                    });
                    table.append(body);

                } else {
                    $('#tongNhap').text('');
                }
                $('#tableDetails').html(table)
            }

            $(document).on('click', ".delete_item", function () {
                var id = $(this).attr("data-id");
                orderItems.splice(id - 1, 1);
                AddedItemsTable();
            });

            
        });
       
    </script>
}
