﻿@model Websach.Models.CT_PN

@{
    ViewBag.Title = "EditDetail";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sửa sách: @Html.DisplayFor(model => model.Sach.tensach)</h4>
    </div>
    <div class="modal-body">
        <div id="modal-content">
            @using (Html.BeginForm("EditDetail", "Nhapsach", FormMethod.Post, new { @class = "myform_nhap" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    @Html.HiddenFor(model => model.mapnhap)
                    @Html.HiddenFor(model => model.masach)
                     
                    <div class="form-group">
                        <label>Tên sách:</label>
                        @Html.TextBoxFor(model => model.Sach.tensach,null, new { @class = "form-control", @id = "tensach_edit", @name = "tensach_edit" ,@disabled = true })
                    </div>
                    <div class="form-group">
                        <label>Số lượng:</label>
                        @Html.TextBoxFor(model => model.soluong, null, new { @class = "form-control",@id="soluong_edit" })
                        @Html.ValidationMessageFor(model => model.soluong, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Giá nhập:</label>
                        @Html.TextBoxFor(model => model.gianhap, null, new { @class = "form-control",@id="gianhap_edit" })
                        @Html.ValidationMessageFor(model => model.gianhap, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Thành tiền:</label>
                        @Html.TextBoxFor(model => model.thanhtien, null, new { @class = "form-control",@id="tt_edit"})
                        @Html.ValidationMessageFor(model => model.thanhtien, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Ghi chú:</label>
                        @Html.TextAreaFor(model => model.ghichu,2,5, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ghichu, null, new { @class = "text-danger" })
                    </div>
                    <p>
                        <input type="submit" class="btn btn-warning" value="Lưu" />
                    </p>
                </fieldset>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

@section Scripts {
}
