﻿@model Websach.Models.PhieuNhap

@{
    ViewBag.Title = "Edit";
    var ds = (List<Websach.Models.CT_PN>)ViewBag.DS_CTN;
}

<div class="panel panel-primary">
    <div class="panel-heading">Sửa phiếu nhập sách</div>
    <div class="panel-body">
        <div class="form-group col-lg-3">
            <label for="maphieu">Mã phiếu nhập</label>
            <input type="text" disabled class="form-control" value="@Model.maphieu" id="maphieu" name="maphieu" />
        </div>
        <div class="form-group col-lg-3">
            <label for="tennxb">Tên nhà xuất bản:</label>
            @Html.DropDownList("dsNXB", ViewBag.LayDSNXB_Edit as SelectList, new { @class = "form-control", @id = "tennxb", @name = "tennxb" })
                
        </div>
        <div class="col-lg-3" style="height: 130px;">
            <label for="ngaynhap">Ngày nhập:</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker8'>
                    <input type='text' id="ngaynhap" class="form-control" value="@Model.ngaylap" placeholder="dd/mm/yyyy" name="ngaynhap" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label for="nguoinhan">Người nhận:</label>
            <input type="text" class="form-control" id="nguoinhan" placeholder="Nhập tên" value="@Model.nguoigiao" name="nguoinhan" />
        </div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ds == null)
                    { 
                        <tr>
                            <td colspan="4" style="text-align: center;">Không có chi tiết
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in ds)
                        {
                                    
                        <tr>
                            <td>
                                @item.masach
                            </td>
                            <td>
                                @item.Sach.tensach
                            </td>
                            <td>
                                @item.soluong
                            </td>

                            <td class="money">
                                @item.gianhap
                            </td>
                            <td class="money">
                                @(item.thanhtien)
                            </td>
                            <td class="">
                                @(item.ghichu)
                            </td>
                            <td class="">
                                <a href="#editModal" class="btnEdit btn btn-warning btn-xs" data-toggle="modal" data-id="@item.masach">Sửa</a>
                            </td>
                        </tr>
                   
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group col-lg-12">
            <h4>Tổng tiền: <span class="money text-danger">@Html.DisplayFor(model => model.tongtien)</span></h4>
        </div>
        <div class="form-group col-lg-12">
           <button class="btn btn-success pull-right">Lưu</button>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" id="modal-content">
    </div>
</div>


@section Scripts {
   
}
