﻿@model Websach.Models.CT_PC

@{
    ViewBag.Title = "CreateDetails";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm sách</h4>
    </div>
    <div class="modal-body">
        <fieldset>

            <div class="form-group ">
                <label for="tensach">Tên sách:</label>
                @Html.DropDownList("dsSach", ViewBag.LayDSsach as SelectList, null, new { @class = "form-control", @id = "tensach", @name = "tensach" })
            </div>
             <div class="form-group ">
                <label for="soluongchi">Số lượng</label>
                <input type="number" id="soluongchi" name="soluongchi" class="form-control" />
                <label class="my-error-class hide err_sln">Nhập số lượng</label>
            </div>
            <div class="form-group ">
                <label for="giachi">Giá bán</label>
                <input type="text" id="giachi" name="giachi" disabled value="@ViewBag.GiaSachDauTien" class="form-control" />
                
            </div>
           
            <div class="form-group ">
                <label for="ttchi">Thành tiền</label>
                <input type="text" disabled id="ttchi" name="ttchi" class="form-control" />
            </div>
          
            <p>
                <input type="button" class="btn btn-primary pull-right " id="btnAddBookIm" value="Thêm" />
            </p>


        </fieldset>
    </div>
</div>


@section Scripts {
   
}
