﻿@model Websach.Models.PhieuChi

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ds = (List<Websach.Models.CT_PC>)ViewBag.DS_CTC;
}


<div class="panel panel-primary">

    <div class="panel-heading">
        Thông tin chi tiết phiếu chi
    </div>
    <div class="panel-body">
        <div class="form-group col-lg-3">
            <label for="maphieu">Mã phiếu chi: </label>
            @Html.DisplayFor(model => model.maphieu)
        </div>
        <div class="form-group col-lg-3">
            <label for="maphieu">Tên nhà xuất bản:</label>
            @Html.DisplayFor(model => model.NXB.tennxb)
        </div>
        <div class="form-group col-lg-3">
            <label for="maphieu">Ngày thu:</label>
            @Html.DisplayFor(model => model.ngaylap)
        </div>

        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    
                </tr>
            </thead>
            <tbody>
                @if (ds == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Không có chi tiết
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in ds)
                    {
                                    
                    <tr>
                        <td>
                            @item.masach
                        </td>
                        <td>
                            @item.Sach.tensach
                        </td>
                        <td>
                            @item.soluong
                        </td>

                        <td class="money">
                            @item.gianhap
                        </td>
                        <td class="money">
                            @item.thanhtien
                        </td>

                    </tr>
                   
                    }


                }
            </tbody>
        </table>

        <div class="form-group col-lg-12">
            <h4>Tổng tiền: <span class="money text-danger">@Html.DisplayFor(model => model.tongchi)</span></h4>

        </div>

        @Html.ActionLink("Sửa", "Edit", new { id = Model.maphieu }, new { @class = "btn btn-warning pull-right" })
    </div>
</div>
@section Scripts{
    <script>
        
    </script>
}
