﻿@model IEnumerable<Websach.Models.PhieuChi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">

    <div class="panel panel-primary">
        <div class="panel-heading">
            Danh sách phiếu chi
                       
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Mã phiếu</th>
                            <th>Tổng chi</th>
                            <th>Ngày tạo</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        { 
                            <tr>
                                <td colspan="4" style="text-align: center;">Không có phiếu chi được tạo
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.maphieu)
                                </td>
                                <td class="money">
                                    @Html.DisplayFor(modelItem => item.tongchi)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ngaylap)
                                </td>
                                <td>
                                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.maphieu })
                                </td>
                            </tr>
                            }


                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Tạo phiếu chi</div>
        <div class="panel-body">
            <div class="row">

                <div class="form-group col-lg-3">
                    <label for="maphieu">Mã phiếu chi</label>
                    <input type="text" disabled class="form-control" value="@ViewBag.Maphieuchi" id="Maphieuchi" name="Maphieuchi" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="tennxb">Tên nhà xuất bản:</label>
                    <input type="text" disabled class="form-control" value="@ViewBag.TenNXB" id="TenNXB_chi" name="TenNXB_chi" />
                </div>

                <div class="col-lg-3" style="height: 130px;">
                    <label for="ngaychi">Ngày lập:</label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker8'>
                            <input type='text' id="ngaychi" class="form-control" placeholder="dd/mm/yyyy" name="ngaychi" />
                            <span class="input-group-addon" id="btn_ngaychi">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <label for="tongno">Số nợ hiện tại</label>
                    <input type="text" disabled class="form-control" value="@ViewBag.SoNo" id="tongno" name="tongno" />
                </div>

            </div>
            <a href="#addBook" data-toggle="modal" data-id="@ViewBag.manxb" class="AddDetailIm btn btn-success">Thêm sách</a>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div id="tableDetails">
                        <table class="table table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th>Mã sách</th>
                                    <th>Tên sách</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                    <h4 class="col-lg-2">Còn nợ: <span id="conno_sauchi"></span></h4>
                    <h4 class="col-lg-offset-10">Tổng tiền: <span id="tongChi"></span></h4>
                </div>

            </div>
            <input type="button" id="submitChi" value="Lưu" class="btn btn-primary pull-right" />

        </div>
    </div>
</div>
<div class="modal fade" id="addBook" role="dialog">
    <div class="modal-dialog" id="modal_addBookIm">

    </div>
</div>
@section Scripts{
       <script>
           $(document).ready(function () {
               var idNXB = $(".AddDetailIm").attr('data-id');
               console.log(idNXB);
               $(document).on("click", ".AddDetailIm", function () {
                   $("#modal_addBookIm").load("/Phieuchi/CreateDetails/" + idNXB);
               });
               function loadGiaXuat(masach) {
                   $.ajax({
                       url: '/Phieuchi/gianhap/' + masach + '',
                       type: "POST",
                       data: { "id": masach },
                       dataType: "json",
                       success: function (data) {
                           $("#giachi").val(data);
                       },
                       error: function (xhr) {

                       }
                   });
               }
               $(document).on("change", "#tensach", function () {
                   var dl = $(this).val();
                   loadGiaXuat(dl);
                   $("#soluongchi").val('');
               });
               $(document).on("click", "#btn_ngaychi", function () {

                   $("#datetimepicker8").datetimepicker({
                       icons: {
                           time: "fa fa-clock-o",
                           date: "fa fa-calendar",
                           up: "fa fa-arrow-up",
                           down: "fa fa-arrow-down"
                       },
                       format: 'DD/MM/YYYY'
                   });

               });

               $(document).on('keyup', '#soluongchi', function () {
                   $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                   if ($('#giachi').val() != '') {
                       var tt = parseInt($(this).val()) * parseInt($('#giachi').val())
                       $('#ttchi').val(tt);
                   } else {
                       $('#ttchi').val('0');
                   }
               });
               $(document).on('keyup', '#giachi', function () {
                   $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                   if ($('#soluongchi').val() != '') {
                       var tt = parseInt($(this).val()) * parseInt($('#soluongchi').val())
                       $('#ttchi').val(tt);
                   } else {
                       $('#ttchi').val('0');
                   }
               });
               var orderItems = [];

               //Thêm sách vào bảng chi tiết
               $(document).on('click', '#btnAddBookIm', function () {
                   if (($("#giachi").val().trim() == '')) {
                       $(".err_gia").removeClass('hide');
                   }
                   else if ($("#soluongchi").val().trim() == '') {
                       $(".err_sln").removeClass('hide');
                   } else {
                       orderItems.push({
                           mapchi: parseInt($("#Maphieuchi").val().trim()),
                           masach: parseInt($("#tensach").val()),
                           tensach: $("#tensach option:selected").text().trim(),
                           soluong: parseInt($("#soluongchi").val().trim()),
                           gianhap: parseInt($("#giachi").val().trim()),
                           thanhtien: parseInt($("#soluongchi").val().trim()) * parseInt($("#giachi").val().trim()),

                       });
                       AddedItemsTable();
                       $(".err_gia").addClass('hide');
                       $(".err_sln").addClass('hide');
                   }

               });
               //Lưu phiếu chi
               $(document).on('click', "#submitChi", function () {
                   if (parseInt($("#conno_sauchi").text()) < 0) {
                       alert("Tổng chi phải nhỏ hơn hoặc bằng tổng nợ")
                   }
                   else {
                       var data = {
                           maphieu: parseInt($("#Maphieuchi").val().trim()),
                           manxb: idNXB,
                           ngaylap: $("#ngaychi").val().trim(),
                           tongchi: parseInt($("#tongChi").text()),
                           Chitiet: orderItems
                       }
                       console.log(data);
                       $(this).val('Đang lưu...');
                       $.ajax({
                           url: '/Phieuchi/Create',
                           type: "post",
                           data: JSON.stringify(data),
                           dataType: "JSON",
                           contentType: "application/json",
                           success: function (d) {

                               window.location = "/Phieuchi/Index/" + idNXB;
                           },
                           error: function () {
                               alert('Không thể lưu. Thử lại lần nữa');
                           }

                       });

                   }
                   
               });
               //Hiển thị lên bảng chi tiết
               function AddedItemsTable() {
                   var table = $('<table class="table table-bordered"/>');
                   table.append('<thead class="thead-default"><tr><th>Mã sách</th><th>Tên sách</th> <th>Số lượng</th><th>Đơn giá</th><th>Thành tiền</th></tr></thead>');

                   if (orderItems.length > 0) {
                       var body = $('<tbody/>');
                       var total = 0;
                       $.each(orderItems, function (i, val) {
                           var row = $('<tr class="' + i + '" />');
                           row.append($('<td/>').html(val.masach));
                           row.append($('<td/>').html(val.tensach));
                           row.append($('<td/>').html(val.soluong));
                           row.append($('<td/>').html(val.gianhap));
                           row.append($('<td/>').html(val.thanhtien));

                           row.append($('<td/>').html('<button class="btn btn-xs btn-danger delete_item" data-id="' + i + '">x</button>'));
                           total += val.thanhtien;
                           console.log(val.thanhtien);
                           $('#tongChi').text(total);

                           $("#conno_sauchi").text(parseInt($("#tongno").val()) - parseInt($("#tongChi").text()))
                           body.append(row);
                       });
                       table.append(body);

                   } else {
                       $('#tongChi').text('');
                   }
                   $('#tableDetails').html(table)
               }

               $(document).on('click', ".delete_item", function () {
                   var id = $(this).attr("data-id");
                   orderItems.splice(id - 1, 1);
                   AddedItemsTable();
               });


           });

    </script>

}