﻿@{
    ViewBag.Title = "LoadThu_Chi";
    var dsthu = (List<Websach.Models.PhieuThu>)ViewBag.DsThu;
    int tongthu = 0;
    var dschi = (List<Websach.Models.PhieuChi>)ViewBag.DsChi;
    int tongchi = 0;
}
  <table class="table table-striped table-bordered table-hover" id="dataTables-thu">
            <thead>
                <tr>
                    <th>Mã phiếu</th>
                    <th>Tên đại lý</th>
                    <th>Số tiền</th>
                    <th>Ngày thu</th>
                   
                </tr>
            </thead>
            <tbody>
                @if (dsthu == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Không có chi tiết
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in dsthu)
                    {
                                    
                    <tr>
                        <td>
                            @item.maphieu
                        </td>
                        <td>
                            @item.Daily.tendl
                        </td>
                        <td  class="money">
                            @item.tongthu
                        </td>
                        <td>
                            @item.ngaylap
                        </td>
                      
                    </tr>
                   <span class="hidden">@(tongthu += item.tongthu)</span>
                    }
                }
            </tbody>
        </table>
 <h4>Tổng thu: <span class="money text-danger">@tongthu</span></h4>

  <table class="table table-striped table-bordered table-hover" id="dataTables-chi">
            <thead>
                <tr>
                    <th>Mã phiếu</th>
                    <th>Tên nhà xuất bản</th>
                    <th>Số tiền</th>
                    <th>Ngày chi</th>
                   
                </tr>
            </thead>
            <tbody>
                @if (dschi == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Không có chi tiết
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in dschi)
                    {
                                    
                    <tr>
                        <td>
                            @item.maphieu
                        </td>
                        <td>
                            @item.NXB.tennxb
                        </td>
                        <td  class="money">
                            @item.tongchi
                        </td>
                        <td>
                            @item.ngaylap
                        </td>
                      
                    </tr>
                   <span class="hidden">@(tongchi += item.tongchi)</span>
                    }
                }
            </tbody>
        </table>
 <h4>Tổng chi: <span class="money text-danger">@tongchi</span></h4>
<h4>Lợi nhuận: <span class="money text-danger">@(tongthu - tongchi)</span></h4>