﻿@{
    ViewBag.Title = "Tonkho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Báo cáo tồn kho</h2>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Nhập thông tin
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-lg-4" style="height: 130px;">
                <label for="start" class="col-lg-4">Chọn ngày:</label>
                <div class="form-group">
                    <div class='input-group col-lg-8  date' id='tungay'>
                        <input type='text' id="start" class="form-control " placeholder="dd/mm/yyyy" name="ngaythu" />
                        <span class="input-group-addon" id="btn_tungay">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="height: 130px;">
                <button id="laydulieu" class="btn btn-success">Lấy dữ liệu</button>
            </div>


            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="Tonkho">
                    <thead>
                        <tr>
                            <th>Mã sách</th>
                            <th>Tên sách</th>
                            <th>Số lượng tồn</th>

                            <th>Ngày</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>



        </div>
    </div>


</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Tonkho").DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
                }
            });
            $('#tungay').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                format: 'DD/MM/YYYY'
            });
           
            function getDate(ngay) {
                var dataTable = $("#Tonkho").DataTable({
                  
                    'responsive': true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
                    },
                    'ajax': {
                        "url": '/Thongke/Tonkho',
                        "type": "post",
                        "data": { "ngay": ngay },
                        "datatype": "json"

                    },
                    "columns": [
                        { "data": "masach", "autoWidth": true },
                        { "data": "tensach", "autoWidth": true },
                        { "data": "soluong", "autoWidth": true },
                        {
                            "data": "ngayupdatetime", "autoWidth": true,
                            "type": "date ",
                            "render":function (value) {
                                if (value === null) {return "";}
                                var pattern = /Date\(([^)]+)\)/;
                                var results = pattern.exec(value);
                                var dt = new Date(parseFloat(results[1]));
                                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                            }
                        }
                    
                ],

                });

        }
            $("#laydulieu").on("click", function () {
                var tungay = $("#start").val();

                if (tungay != '') {
                    $('#Tonkho').DataTable().destroy();
                    getDate(tungay);
                }
                else {
                    alert("Nhập đầy đủ thông tin");
                }

            });
        });
    </script>
}
