﻿@model Websach.Models.Daily

@{
    ViewBag.Title = "Delete";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bạn có chắc muốn xóa đại lý @Html.DisplayFor(model => model.tendl)?</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.madl)
            <div class="display-label">
               <b> @Html.DisplayNameFor(model => model.tendl):</b> @Html.DisplayFor(model => model.tendl)

            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.diachi):</b> @Html.DisplayFor(model => model.diachi)
            </div>
  
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)
            </div>
          
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.sdt):</b> @Html.DisplayFor(model => model.sdt)
            </div>
            <div class="display-field">
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.tongno):</b> <span class="money1">@Html.DisplayFor(model => model.tongno)</span>
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.notoida):</b> <span class="money1">@Html.DisplayFor(model => model.notoida)</span>
            </div>

            <div class="display-label">
               <b> @Html.DisplayNameFor(model => model.ngaymuacuoi):</b> @Html.DisplayFor(model => model.ngaymuacuoi)
            </div>
            <br /><br />
            <p>
                <input type="submit" class="btn btn-danger" value="Xóa" />
            </p>
        }
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

@section formatCurrency{
    <script>
        function FormatCurrency(num) {

            //So khớp số 1 số trong chuỗi khi 1 số sau nó(?=) lấy đc 3 số
            var n = num.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            var cur = n.split(".");
            return cur[0];
        }
        $('.money1').each(function () {
            $(this).text(FormatCurrency(parseInt($(this).text())));

        });
</script>
}
