﻿@model Websach.Models.Daily

@{
    ViewBag.Title = "Đại lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ds = (List<Websach.Models.TonkhoDL>)ViewBag.DSsach_DL;
    int tongtien = 0;
}


<div class="panel panel-primary">

    <div class="panel-heading">
        Thông tin chi tiết đại lý @Html.DisplayFor(model => model.tendl)
        <a href="/Phieuthu/Index/@Model.madl" class="btn btn-warning pull-right">Xem và tạo phiếu thu</a>
    </div>
    <div class="panel-body">
        <div class="display-label ">
            <b>@Html.DisplayNameFor(model => model.tendl):</b> <span class="tendl">@Html.DisplayFor(model => model.tendl)</span>

        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.diachi):</b> @Html.DisplayFor(model => model.diachi)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.sdt):</b> @Html.DisplayFor(model => model.sdt)
        </div>
        <div class="display-field">
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.tongno):</b> <span class="money">@Html.DisplayFor(model => model.tongno)</span>
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.notoida):</b> <span class="money">@Html.DisplayFor(model => model.notoida)</span>
        </div>

        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ngaymuacuoi):</b> @Html.DisplayFor(model => model.ngaymuacuoi)
        </div>
    </div>
</div>

<div class="panel panel-primary">

    <div class="panel-heading">
        Danh sách sách cần thanh toán của đại lý       
       <a href="/dai-ly/Export/@Model.madl" class="btn btn-success pull-right">Xuất ra excel</a>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Số lượng chưa thanh toán</th>

                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @if (ds == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Đại lý đã thanh toán hết sách
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in ds)
                    {
                                    
                    <tr>
                        <td>
                            @item.masach
                        </td>
                        <td>
                            @item.tensach
                        </td>
                        <td>
                            @item.soluong
                        </td>

                        <td class="money">
                            @item.giaxuat
                        </td>
                        <td class="money">
                            @(item.giaxuat * item.soluong)
                        </td>

                    </tr>
                    <span class="hidden">@(tongtien += item.giaxuat * item.soluong)</span>
                    }


                }
            </tbody>
        </table>
        <h4>Tổng nợ cần thanh toán: <span class="money text-danger">@tongtien</span></h4>
    </div>
</div>
<p>
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
@section Scripts{
    <script>
       
    </script>

}