﻿@model Websach.Models.Daily

@{
    ViewBag.Title = "Edit";
}
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Đại lý @Html.DisplayFor(model => model.tendl)</h4>
    </div>
    <div class="modal-body">
        <div id="modal-content">
            @using (Html.BeginForm("Edit", "Daily", FormMethod.Post,new { @class="myform"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                    @Html.HiddenFor(model => model.madl)
                    <div class="form-group">
                        @Html.LabelFor(model => model.tendl)
                        @Html.TextBoxFor(model => model.tendl, null, new { @class = "form-control", @placeholder = "Nhập tên đại lý" })
                        @Html.ValidationMessageFor(model => model.tendl, null, new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.diachi)
                        @Html.TextBoxFor(model => model.diachi, null, new { @class = "form-control", @placeholder = "Nhập địa chỉ" })
                        @Html.ValidationMessageFor(model => model.diachi, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.email)
                        @Html.TextBoxFor(model => model.email, null, new { @class = "form-control", @placeholder = "Nhập email", @Type = "email" })
                        @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.sdt)
                        @Html.TextBoxFor(model => model.sdt, null, new { @class = "form-control", @placeholder = "Nhập số điện thoại", @Type = "tel" })
                        @Html.ValidationMessageFor(model => model.sdt, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.tongno, null, new { @class = "form-control money", @placeholder = "Tổng nợ", @Value = "0", @Type = "hidden" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.notoida)
                        @Html.TextBoxFor(model => model.notoida, null, new { @class = "form-control", @placeholder = "Nợ tối đa cho phép", })

                        @Html.ValidationMessageFor(model => model.notoida, null, new { @class = "text-danger" })
                    </div>

                    <p>
                        <input type="submit" class="btn btn-primary" value="Sửa"  id="edit"/>
                    </p>
                </fieldset>
            }

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

@section Scripts{
    <script>
        
    </script>
}


