﻿@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span id="madl">@ViewBag.id</span>
@section Scripts{
<script>
    var id = $("#madl").text();
    window.location.href = "/dai-ly/Detail/"+id;
</script>    
}
