﻿@model IEnumerable<Websach.Models.Daily>

@{
    ViewBag.Title = "Quản lý đại lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý đại lý</h2>



<a href="#addModal" class="btnAdd btn btn-success pull-right text-color" data-toggle="modal">Thêm mới</a>

<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách đại lý
                       
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Tên đại lý</th>
                                <th>Đại chỉ</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>

                                <th>Tổng nợ</th>
                                <th>Số nợ tối đa</th>
                                <th>Ngày mua lần cuối</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null)
                            { 
                                <tr>
                                    <td colspan="8" style="text-align: center;">Không có đại lý nào
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tendl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.diachi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdt)
                                    </td>
                                    <td class="money">
                                        @Html.DisplayFor(modelItem => item.tongno)
                                    </td>
                                    <td class="money">

                                        @Html.DisplayFor(modelItem => item.notoida)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ngaymuacuoi)
                                    </td>

                                    <td>
                                        <a href="#editModal" class="btnEdit btn btn-warning btn-xs" data-toggle="modal" data-id="@item.madl">Sửa</a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "Detail", new { id = item.madl }, new { @class = "btn btn-primary btn-xs" })

                                    </td>
                                    <td id="row_@item.madl">

                                        <a href="#delModal" class="btnDelete btn btn-danger btn-xs" data-toggle="modal" data-id="@item.madl">Xóa</a>
                                    </td>

                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" id="modal-content">
    </div>
</div>

<div class="modal fade" id="delModal" role="dialog">
    <div class="modal-dialog" id="modal_delete">
    </div>
</div>
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog" id="modal_add">
    </div>
</div>

@section Scripts
{


    <script>
        $(document).on("click", ".btnAdd", function () {
            $("#modal_add").load("/dai-ly/Create");
        });
        $(document).on("click", ".btnEdit", function () {
            $("#modal-content").load("/dai-ly/Edit/" + $(this).data("id"));
        });
        $(document).on("click", ".btnDelete", function () {
            $("#modal_delete").load("/dai-ly/Delete/" + $(this).data("id"));
        });

    </script>

}
