﻿@model Websach.Models.NXB

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int tongtien = 0;
    var ds = (List<Websach.Models.TonSachChuaTra>)ViewBag.DsSachCanTL;
    
}


<div class="panel panel-primary">
    <div class="panel-heading">
        Thông tin chi tiết nhà xuất bản @Html.DisplayFor(model => model.tennxb)
         <a href="/Phieuchi/Index/@Model.manxb" class="btn btn-warning pull-right">Xem và tạo phiếu chi</a>
    </div>
    <div class="panel-body">
        <div class="display-label hidden">
            <b>@Html.DisplayNameFor(model => model.manxb):</b> <span id="manxb">@Html.DisplayFor(model => model.manxb)</span>
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.tennxb):</b> @Html.DisplayFor(model => model.tennxb)
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.diachi):</b> @Html.DisplayFor(model => model.diachi)
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.sdt):</b>  @Html.DisplayFor(model => model.sdt)
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.sotk):</b>  @Html.DisplayFor(model => model.sotk)
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.tongno):</b>  <span class="money" id="tienno">@Html.DisplayFor(model => model.tongno)</span>
        </div>
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.ngaynhapcuoi):</b>  @Html.DisplayFor(model => model.ngaynhapcuoi)
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Danh sách sách chưa thanh toán
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                  @if (ds == null)
                { 
                    <tr>
                        <td colspan="4" style="text-align: center;">Đã thanh toán hết sách
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in ds)
                    {
                                    
                    <tr>
                        <td>
                            @item.masach
                        </td>
                        <td>
                            @item.tensach
                        </td>
                        <td>
                            @item.soluong
                        </td>

                        <td class="money">
                            @item.gianhap
                        </td>
                        <td class="money">
                            @(item.gianhap * item.soluong)
                        </td>

                    </tr>
                    <span class="hidden">@(tongtien += item.gianhap * item.soluong)</span>
                    }
                }
            </tbody>
        </table>
        <h4>Tổng nợ chưa thanh toán: <span class="money text-danger">@tongtien</span></h4>
    </div>
</div>
<p>
    @Html.ActionLink("Trở về danh sách", "Index")
</p>


@section Scripts{
    <script>
        //$(document).ready(function () {

        //    $(document).on("keyup", ".tongchi_edit", function (e) {
        //        $(this).val($(this).val().replace(/([a-zA-z])+/g, ''));
        //        console.log(parseInt($(this).val()), parseInt($("#tienno").text()));
        //        if (parseInt($(this).val()) > parseInt($("#tienno").text())) {
        //            $(".err_tong").removeClass("hide");
        //        } else { $(".err_tong").addClass("hide"); }

        //    });
        //    $(document).on("click", ".EditInv", function () {
        //        if ($(".tongchi_edit").val() == "") {
        //            $(".err_req").removeClass("hide");
        //        } else if (parseInt($(".tongchi_edit").val()) > parseInt($("#tienno").text())) {
        //            $(".err_tong").removeClass("hide");
        //        }
        //        else {
        //            var data = {
        //                manxb: parseInt($(".manxb").val().trim()),
        //                maphieu: parseInt($("#maphieu").text()),
        //                ngaylap: $("#ngaychi").val().trim(),
        //                tongchi: parseInt($(".tongchi_edit").val()),
        //            }
        //            $(this).val('Đang lưu...');
        //            $.ajax({
        //                url: '/Phieuchi/Edit',
        //                type: "post",
        //                data: JSON.stringify(data),
        //                dataType: "JSON",
        //                contentType: "application/json",
        //                success: function (d) {
        //                    window.location = "/nha-xuat-ban/Detail/" + $(".manxb").val();
        //                },
        //                error: function () {
        //                    alert('Không thể lưu. Thử lại lần nữa');
        //                }

        //            });
        //        }

        //    });
        //});
    </script>
}