﻿@model IEnumerable<Websach.Models.NXB>

@{
    ViewBag.Title = "Quản lý nhà xuất bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý nhà xuất bản</h2>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách nhà xuất bản
                       
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Tên nhà xuất bản</th>
                                <th>Đại chỉ</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Số tài khoản</th>
                                <th>Tổng nợ</th>
                                <th>Ngày nhập lần cuối</th>
                                <th></th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null)
                            { 
                                <tr>
                                    <td colspan="8" style="text-align:center;">
                                        Không có nhà xuất bản nào
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tennxb)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.diachi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sotk)
                                    </td>
                                    <td class="money">
                                        @Html.DisplayFor(modelItem => item.tongno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ngaynhapcuoi)
                                    </td>
                     
                                    <td>
                                         @Html.ActionLink("Chi tiết", "Detail", new { id = item.manxb }, new { @class ="btn btn-primary btn-xs"})
                                    
                                    </td>
                                   
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@section Scripts{
    <script>
        
    </script>
}