﻿@model Websach.Models.CT_PT

@{
    ViewBag.Title = "CreateDetails";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm sách</h4>
    </div>
    <div class="modal-body">
        <fieldset>

            <div class="form-group ">
                <label for="tensach">Tên sách:</label>
                @Html.DropDownList("dsSach", ViewBag.LayDSsach as SelectList, null, new { @class = "form-control", @id = "tensach", @name = "tensach" })


            </div>
             <div class="form-group ">
                <label for="soluongthu">Số lượng</label>
                <input type="number" id="soluongthu" name="soluongthu" class="form-control" />
                <label class="my-error-class hide err_sln">Nhập số lượng</label>
            </div>
            <div class="form-group ">
                <label for="giathu">Giá bán</label>
                <input type="text" id="giathu" name="giathu" disabled value="@ViewBag.GiaSachDauTien" class="form-control" />
                
            </div>
           
            <div class="form-group ">
                <label for="ttthu">Thành tiền</label>
                <input type="text" disabled id="ttthu" name="ttthu" class="form-control" />
            </div>
          
            <p>
                <input type="button" class="btn btn-primary pull-right " id="btnAddBookIm" value="Thêm" />
            </p>


        </fieldset>
    </div>
</div>



@section Scripts {

}
