﻿@model IEnumerable<Websach.Models.PhieuThu>

@{
    ViewBag.Title = "Phiếu thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Danh sách phiếu thu
                       
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã phiếu</th>
                                <th>Tổng thu</th>      
                                <th>Ngày tạo</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null)
                            { 
                                <tr>
                                    <td colspan="4" style="text-align: center;">Không có phiếu thu được tạo
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.maphieu)
                                    </td>
                                    <td class="money">
                                        @Html.DisplayFor(modelItem => item.tongthu)
                                    </td>
                                
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ngaylap)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "Detail", new { id = item.maphieu })
                                    </td>
                                </tr>
                                }


                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->



            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-primary">
            <div class="panel-heading">Tạo phiếu thu</div>
            <div class="panel-body">
                <div class="row">

                    <div class="form-group col-lg-3">
                        <label for="maphieu">Mã phiếu thu</label>
                        <input type="text" disabled class="form-control" value="@ViewBag.Maphieuthu" id="Maphieuthu" name="Maphieuthu" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="tennxb">Tên đại lý:</label>
                        <input type="text" disabled class="form-control" value="@ViewBag.TenDl_thu" id="TenDl_thu" name="TenDl_thu" />
                    </div>

                    <div class="col-lg-3" style="height: 130px;">
                        <label for="ngaythu">Ngày lập:</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker8'>
                                <input type='text' id="ngaythu" class="form-control" placeholder="dd/mm/yyyy" name="ngaythu" />
                                <span class="input-group-addon" id="btn_ngaythu">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                     <div class="form-group col-lg-3">
                        <label for="tennxb">Số nợ hiện tại</label>
                        <input type="text" disabled class="form-control" value="@ViewBag.SoNo" id="tongno" name="tongno" />
                    </div>
                    
                </div>
                <a href="#addBook" data-toggle="modal" data-id="@ViewBag.madl" class="AddDetailIm btn btn-success">Thêm sách</a>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div id="tableDetails">
                            <table class="table table-bordered">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Mã sách</th>
                                        <th>Tên sách</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                       
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <h4 class="col-lg-2">Còn nợ: <span id="conno_sauthu"></span></h4>
                        <h4 class="col-lg-offset-10">Tổng tiền: <span id="tongThu"></span></h4>
                    </div>

                </div>
                <input type="button" id="submitThu" value="Lưu" class="btn btn-primary pull-right" />

            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="modal fade" id="addBook" role="dialog">
    <div class="modal-dialog" id="modal_addBookIm">

    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var idDL = $(".AddDetailIm").attr('data-id');
            console.log(idDL);
            $(document).on("click", ".AddDetailIm", function () {
                $("#modal_addBookIm").load("/Phieuthu/CreateDetails/" +idDL);
            });
            function loadGiaXuat(masach) {
                $.ajax({
                    url: '/Phieuthu/giaxuat/' + masach + '',
                    type: "POST",
                    data: { "id": masach },
                    dataType: "json",
                    success: function (data) {
                        $("#giathu").val(data);
                    },
                    error: function (xhr) {

                    }
                });
            }
            $(document).on("change", "#tensach", function () {
                var dl = $(this).val();
                loadGiaXuat(dl);
                $("#soluongnhap").val('');
            });
            $(document).on("click", "#btn_ngaythu", function () {

                $("#datetimepicker8").datetimepicker({
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    },
                    format: 'DD/MM/YYYY'
                });

            });

            $(document).on('keyup', '#soluongthu', function () {
                $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                if ($('#giathu').val() != '') {
                    var tt = parseInt($(this).val()) * parseInt($('#giathu').val())
                    $('#ttthu').val(tt);
                } else {
                    $('#ttthu').val('0');
                }
            });
            $(document).on('keyup', '#giathu', function () {
                $(this).val($(this).val().replace(/[a-zA-Z]+/g, ''));
                if ($('#soluongthu').val() != '') {
                    var tt = parseInt($(this).val()) * parseInt($('#soluongthu').val())
                    $('#ttthu').val(tt);
                } else {
                    $('#ttthu').val('0');
                }
            });
            var orderItems = [];

            //Thêm sách vào bảng chi tiết
            $(document).on('click', '#btnAddBookIm', function () {
                if (($("#giathu").val().trim() == '')) {
                    $(".err_gia").removeClass('hide');
                }
                else if ($("#soluongthu").val().trim() == '') {
                    $(".err_sln").removeClass('hide');
                } else {
                    orderItems.push({
                        mapthu: parseInt($("#Maphieuthu").val().trim()),
                        masach: parseInt($("#tensach").val()),
                        tensach: $("#tensach option:selected").text().trim(),
                        soluong: parseInt($("#soluongthu").val().trim()),
                        giaxuat: parseInt($("#giathu").val().trim()),
                        thanhtien: parseInt($("#soluongthu").val().trim()) * parseInt($("#giathu").val().trim()),

                    });
                    AddedItemsTable();
                    $(".err_gia").addClass('hide');
                    $(".err_sln").addClass('hide');
                }

            });
            //Lưu phiếu chi
            $(document).on('click', "#submitThu", function () {
              
                var data = {
                    maphieu: parseInt($("#Maphieuthu").val().trim()),
                    madl: idDL,
                    ngaylap: $("#ngaythu").val().trim(),
                    tongthu: parseInt($("#tongThu").text()),
                   
                    Chitiet: orderItems
                }
                console.log(data);
                $(this).val('Đang lưu...');
                $.ajax({
                    url: '/Phieuthu/Create',
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                      
                        window.location = "/Phieuthu/Index/" + idDL;
                    },
                    error: function () {
                        alert('Không thể lưu. Thử lại lần nữa');
                    }

                });

            });
            //Hiển thị lên bảng chi tiết
            function AddedItemsTable() {
                var table = $('<table class="table table-bordered"/>');
                table.append('<thead class="thead-default"><tr><th>Mã sách</th><th>Tên sách</th> <th>Số lượng</th><th>Đơn giá</th><th>Thành tiền</th></tr></thead>');

                if (orderItems.length > 0) {
                    var body = $('<tbody/>');
                    var total = 0;
                    $.each(orderItems, function (i, val) {
                        var row = $('<tr class="' + i + '" />');
                        row.append($('<td/>').html(val.masach));
                        row.append($('<td/>').html(val.tensach));
                        row.append($('<td/>').html(val.soluong));
                        row.append($('<td/>').html(val.giaxuat));
                        row.append($('<td/>').html(val.thanhtien));

                        row.append($('<td/>').html('<button class="btn btn-xs btn-danger delete_item" data-id="' + i + '">x</button>'));
                        total += val.thanhtien;
                        console.log(val.thanhtien);
                        $('#tongThu').text(total);

                        $("#conno_sauthu").text(parseInt($("#tongno").val()) - parseInt($("#tongThu").text()))
                        body.append(row);
                    });
                    table.append(body);

                } else {
                    $('#tongThu').text('');
                }
                $('#tableDetails').html(table)
            }

            $(document).on('click', ".delete_item", function () {
                var id = $(this).attr("data-id");
                orderItems.splice(id - 1, 1);
                AddedItemsTable();
            });


        });

    </script>
}