﻿@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Assets/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->

    <link href="~/Assets/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <link href="~/Assets/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Assets/style.css" rel="stylesheet" />
</head>

<body>

    <div id="wrapper">


        <!-- /.navbar-top-links -->
        <div class="container">

            <!-- /.navbar-static-side -->
            <nav class="navbar navbar-primary">
                <div class="container-fluid" style="background-color: #e2e2e2;">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">N&L</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i>Trang chủ</a>
                            </li>

                            <li>
                                <a href="/dai-ly/"><i class="fa fa-user fa-fw"></i>Đại lý</a>
                            </li>
                            <li>
                                <a href="/nha-xuat-ban/"><i class="fa fa-user fa-fw"></i>Nhà xuất bản</a>
                            </li>
                            <li>
                                <a href="/nhap-sach/"><i class="fa fa-shopping-cart fa-fw"></i>Nhập sách</a>
                            </li>
                            <li>
                                <a href="/xuat-sach/"><i class="fa fa-truck fa-fw"></i>Xuất sách</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-area-chart fa-fw"></i>Thống kê<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Doanhthu", "Thongke")"><i class="fa fa-money fa-fw"></i>Doanh thu</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CongnoDL", "Thongke")"><i class="fa fa-money fa-fw"></i>Công nợ đại lý</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CongnoNXB", "Thongke")"><i class="fa fa-money fa-fw"></i>Công nợ nhà xuất bản</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Tonkho", "Thongke")"><i class="fa fa-cubes fa-fw"></i>Tồn kho</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>


            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div> 
            }

            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- DataTables JavaScript -->

    <script src="~/Assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Assets/dist/js/sb-admin-2.js"></script>
    <script src="~/Assets/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
     
    @*@if (Request.RawUrl.ToString() == "/dai-ly" || Request.RawUrl.ToString() == "/nhap-sach/Create" || Request.RawUrl.ToString().Contains("/Phieuthu/Index"))
    {
        @RenderSection("scripts")
    }
    else
    {@RenderSection("scripts", false) }*@
     @RenderSection("scripts")

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

</body>

</html>
