﻿*
{
    padding:0px;
    margin:0px;
    line-height: 25px;
}
.text-color
{
    text-decoration:none;
    color:white;
}
.my-error-class {
    color:#FF0000;  /* red */
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}
.thead-default
{
   background: #96b8cc;
}
.highlight
{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
